.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #344d34;
  box-shadow: 0 2px 8px rgba(202, 188, 188, 0.26);
  border-radius: 12px;
  text-align: center;
  color: rgb(236, 222, 222);
  font-size: small;
}

.movie h2 {
  font-size: 2rem;
  color: #f8f8f5;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}
